@media (max-width: 850px){
    .title{
        font-size:90px ;
    }
}
@media (max-width: 780px){
    .register-wrapper{
        display: block;
        width: 100%;
    }
    .join a{
        font-size: 12px;
    }
    .black-woman{
        display: none;
    }
    .register-wrapper{
        text-align: center;
    }
}
@media (max-width:770px){
    .accordeon-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .phone-image{
        display: none;
    }
}
@media (max-width: 765px){
    .wrapper .join{
        height: 6vh;
    }
}
@media (max-width: 670px){
    .title{
        font-size: 60px;
    }
    .main-image{
        display: none;
    }
    .wrapper .join{
        width: 80%;
        height: 5vh;
    }
    .wrapper{
        text-align: center;
    }
    .subtitle{
        font-size: 25px;
    }
    .left{
        width: 100%;
    }
    .footer-heading h1{
        font-size: 35px;
        text-align: center;
    }
}


@media (max-width: 570px){
    
    .attending h2{
        font-size: 50px;
    }
    .text-info h2{
        font-size: 45px;
    }
}

@media (max-width: 530px){
    .accordeon{
        display: block;
    }
    
    .right{
        display: none;
    }
    
}
@media (max-width: 490px){
    .confidence h2{
        font-size: 60px;
    }
}


@media screen and (max-width: 480px){
    .bottom-image{
        display: none;
    }
    
    .attending h2{
        font-size: 60px;
    }
    .about p{
        padding-bottom: 10px;
    }
    .attending h2{
        margin: 0 auto;
    }
    .about h2{
        font-size: 40px;
    }
    .about p{
        font-size: 12px;

    }
}

@media (max-width: 420px){
    .confidence h2{
        font-size: 60px;
    }
    
    }
    .footer-navigation a{
        font-size: 14px;
}


